@charset "utf-8";
html{background-color: #EEEEEE;font: 12px "宋体";}
#table{width: 1000px;margin: 0 auto;}
#table div.table1{width: 1000px;height: 70px; background-color:#FFFFFF;margin-top: 20px;border-bottom: 1px dashed #EAEAEA;}
#table div.table1 span.brand{width: 90px;height: 70px;line-height: 40px;text-indent: 13px; background-color: #F8F8F8;color: #A0A087;}
#table div.table1 .table1_1{width: 895px;height: 70px;padding-left: 13px;}
#table div.table1 .table1_1 p.list1{width: 890px;height: 30px;line-height: 40px;}
#table div.table1 .table1_1 p.list1 a{margin-right: 30px;}
#table div.table1 .table1_1 p.list1 a.sparead{margin-right: 3px;}
#table div.table1 .table1_1 p.list1 s.open{width: 15px;height: 18px;background: url('../img/haigouyoupin.fw.png')-215px -30px;display: inline-block;vertical-align: middle;}
#table div.table1 .table1_1 p.list2{width: 800px;height: 35px;line-height: 30px;}
#table div.table1 .table1_1 p.list2 a{margin-right: 30px;}
#table div.table2{width: 1000px;height: 43px; background-color:#FFFFFF;}
#table div.table2 span.region{width: 90px;height: 43px;line-height: 40px;text-indent: 13px; background-color: #F8F8F8;color: #A0A087;}
#table div.table2 .table1_1 p.list1{width: 785px;height: 43px;line-height: 43px;}
#table div.table2 .table1_1 p.list1 a{margin: 0 10px 0 15px;}
 
 
 
 
#table2{width: 1000px;height: 36px;line-height: 36px;margin: 0 auto;margin-top: 10px;margin-bottom: 2px;border: 1px solid #EAEAEA;background-color:#FFFFFF;}
#table2 ul li.unite{width: 76px;height: 36px;line-height: 36px;text-align: center;float: left; border-right: 1px solid #EAEAEA;}
#table2 ul li.unite1{width: 76px;height: 36px;line-height: 36px;text-align: center;float: left;border: 1px solid #D22147;color: #D22147;}
#table2 ul li.unite1 s.down_allow{width: 12px;height: 12px;background: url('../img/haigouyoupin.fw.png')-30px -70px;display: inline-block;vertical-align: middle;}
/*#table2 ul li.unite:hover{border: 1px solid #D22147;color: #D22147;}
#table2 ul li.unite:hover s.down_allow{width: 12px;height: 12px;background: url('../img/haigouyoupin.fw.png')-30px -70px;display: inline-block;vertical-align: middle;}*/
#table2 span.unite{width: 214px;height: 36px;padding-left: 19px;}
#table2 span.unite input.txt{width: 75px;height: 20px;border: 1px solid #EAEAEA;}
#table2 p.choose{width: 340px;height: 36px;line-height: 36px;border-left: 1px solid #eaeaea;padding-left: 30px;}
#table2 p.choose input.checkbox{width: 28px;height: 17px;margin-top: 10px;}
#table2 p.choose span{vertical-align: super;}
#table2 span.color{color: red;font-size: 14px; font-weight: bold;}
#table2 s.lt{width: 16px;height: 14px;margin-left:8px ; background: url('../img/haigouyoupin.fw.png')-210px -45px;display: inline-block;vertical-align: middle;}
#table2 span.font{font-size: 14px;}
#table2 s.gt{width: 17px;height: 14px;background: url('../img/haigouyoupin.fw.png')-215px -60px;display: inline-block;vertical-align: middle;}



#goods{width: 1010px;height: 255px;margin: 0 auto;}
#goods div.goods{width: 235px;height: 235px;margin: 22px 22px 0 0;background-color: #FFFFFF;}
#goods div.goods a p{width: 210px;height: 20px;margin:13px 0 8px 10px;}
#goods div.goods p.sz{width: 210px;height: 25px;color: #E00000;margin-left: 10px; }
#goods div.goods p span{font-weight: 600;font-size: 22px;}
#goods div.goods p i{width: 55px;height: 25px;line-height: 25px;margin-left: 12px;padding: 3px 7px 3px 7px;border: 1px dotted  #E00000;}
#goods div.goods p s.yj{color: #999999;line-height: 30px;}
#goods div.goods_r{width: 235px;height: 235px;margin-top: 20px;background-color: #FFFFFF;}
#goods div.goods_r a p{width: 210px;height: 20px;margin:13px 0 8px 10px;}
#goods div.goods_r p.sz{width: 210px;height: 25px;color: #E00000;margin-left: 10px; }
#goods div.goods_r p span{font-weight: 600;font-size: 22px;}
#goods div.goods_r p i{width: 55px;height: 25px;line-height: 25px;margin-left: 12px;padding: 3px 7px 3px 7px;border: 1px dotted  #E00000;}
#goods div.goods_r p s.yj{color: #999999;line-height: 30px;}




#page{height:80px;width: 410px;margin: 0 auto;padding-top:60px;}
#page span.page_l{height: 28px;width: 58px;line-height: 28px; text-align: center;background-color: #FFF;border: 1px solid #E8E8E8;margin-right: 8px;}
#page ul{height: 28px;}
#page ul li:first-child{width: 28px;height: 28px;ine-height: 28px; text-align: center;border: 1px solid #D22147;background: #D22147;color: #FFF;}
#page ul li{width: 28px;height: 28px;line-height: 28px; text-align: center;border: 1px solid #E8E8E8;float: left;}
#page ul li:hover{width: 28px;height: 28px;ine-height: 28px; text-align: center;border: 1px solid #D22147;background: #D22147;color: #FFF;}
#page span.page_r{height: 28px;width: 58px;line-height: 28px; text-align: center;background-color: #FFF;border: 1px solid #E8E8E8;margin-left: 8px;}



img { width: 230px; height: 140px;}
.border:hover{border: 2px solid #DF5000; height: 232px ;}
