/*共有样式*/
@charset "utf-8";
html{background-color: #EEEEEE;font: 12px "宋体";}
/*S=头部*/
.top {background-color: #FAFAFA;height: 29px;border-bottom: 1px solid #EEEEEE;}
.top_page {width: 1000px;height: 29px;margin: 0 auto;}
.top_page_l{height: 21px;padding: 4px;}
/*.top_page_l s{width: 14px;height: 18px;background: url('../img/haigouyoupin.fw.png') 0 0;display: inline-block;vertical-align: bottom; }*/
.top_page_l select{font-family: cursive;font-size: 15px;border-radius: 5px;background-color: #fafafa;}
.top_page_r{line-height: 29px;}
.top_page_r a span{float: left;height: 1px;}
.top_page_r a.login{color: red;}
.top_page_r span.vl{padding: 0 20px 0 20px;color: #EEEEEE;font-weight: 600;}
.beader{height: 157px;border-bottom: 3px solid #E00000;background-color: #FFFFFF;}
.logo{width: 1000px;height: 157px;margin: 0 auto;}
.logo h1.logo_l{width: 188px;height: 64px;margin: 24px 0 32px 0;background: url("../img/haigouyoupin.fw.png")-15px 0;text-indent: -1000px;}
.logo_c{ width: 585px; height: 90px;padding: 30px 0 0 64px;}
.logo_c_top{width: 440px;height: 36px;border: 2px solid #E00000;}
.logo_c input.search{width: 400px;height: 36px;text-indent: 5px;}
/*.logo_c input.button{width: 40px;height: 36px;background: url("../img/search_r2_c2.png");}*/
.logo_c .button{width: 40px; height: 37px;color: aliceblue;border:2px solid #E00000;background-color: #E00000;}
.logo_c .button i.iconfont{ font-size: 22px;} 
.logo_c .logo_c_bottom{width: 445px;height: 23px;line-height: 23px;}
.logo_c_bottom span{padding: 0 10px 0 10px;color: #EBDDEB;}
.logo_c_bottom a{color: #666666;}
.logo_c_bottom a.hot{color: #E00000;}
.logo_c_bottom a.gj{color: #008800;}
.logo_r{width: 138px;height: 100px;padding: 30px 0 0 0;}
/*.logo_r p{width: 139px;height: 37px;border-radius: 2px;background: url("../img/haigouyoupin.fw.png")0 -205px ;}*/
.logo_r p{width: 139px;height: 37px;line-height: 37px;text-align: center;border-radius: 2px;background-color: #E00000;}
.logo_r p i.icon-cart:before{ font-size: 25px; color: beige;}
/*.logo_r a.shop{ width: 30px;height: 90px;padding-left: 140px;padding-bottom: 25px;}*/
.logo_r p a.shop{ font-size: 15px;color: antiquewhite;}
.logo_r span.nums { font-size: 18px; color: beige;}
.nav{width: 700px;height: 37px;}
.nav ul li{width: 130px;height: 37px;float: left;line-height: 40px;font-size: 15px;text-indent: 53px;}
.nav li a.firset{width: 60px;height: 37px;color: #333333;}
.nav li.firset{width: 234px;height: 37px;font-weight:bold;/*background: url("img/haigouyoupin.fw.png")0 -250px;*/}
.nav li.firset a.firset{color: #FFFFFF;}
.nav li.firset{background-color:  #E00000;color: #FFFFFF;}
.nav li:hover{background-color: #E00000;}
.nav li:hover a{color: #FFFFFF;}
.nav li:hover a.firset{color: #FFFFFF;}
/*E=头部*/


/*S二级菜单*/
/*.nav li.firset .next_menu{width: 223px;padding: 10px 0 0 10px; background-color: #FFFFFF;}*/
 .nav > ul > li >ul{position:absolute;display:none;width:235px;background-color: #FFFFFF;  }
.nav > ul > li:hover ul {display: block;}
.nav > ul > li > ul > li{ width: 220px;height: 80px;padding-left: 15px;}
.nav > ul > li > ul > li>p{width: 235px;height: 70px;color:#333333 ;line-height: 65px;font-size: large;}
.nav > ul > li > ul > li>a.bg_q{width: 235px;height: 70px;color:#333333 ;line-height: 65px;font-size: large;text-decoration: none;}
.nav > ul > li > ul > li>a:hover {color:#FFFFFF;border-radius: 8%;}
.nav > ul > li > ul > li>p:hover {color:#FFFFFF;border-radius: 8%;}
/*.nav > ul > li > ul > li>div.ul{width: 235px;}*/
.nav > ul > li > ul > li:first-child{ border-top: 1px solid #ccc;} 


/*E二级菜单*/

/*S=底部*/
#botom_1{height: 97px;margin-bottom: 1px;background-color: #FFFFFF;}
#botom_1 .beader_1{height:97px;width: 1000px;margin: 0 auto;}
#botom_1 .beader_1 span.img1{height:97px;width: 240px;display: block;background: url("../img/haigouyoupin.fw.png")-233px 0;}
#botom_1 .beader_1 span.img2{width: 240px;height:97px;display: block;background: url("../img/haigouyoupin.fw.png")-100px -97px;}
#botom_1 .beader_1 span.img3{height:97px;width: 240px;display: block;background: url("../img/haigouyoupin.fw.png")0px -287px;}
#botom_1 .beader_1 span.img4{height:97px;width: 240px;display: block;background: url("../img/haigouyoupin.fw.png")-350px -100px;}
#button_2{height: 175px;margin: 0 auto;margin-bottom: 1px;background-color: #FFFFFF;}
#button_2 .beader_2{width: 1000px;height: 175px;margin: 0 auto;}
#button_2 .beader_2 ul{width: 66px;height: 140px;margin: 16px 82px 0 50px;}
#button_2 .beader_2 ul li{width: 62px;height: 25px;color: #333333;padding-left: 5px;}
#button_2 .beader_2 h3{width: 66px;height: 45px;font-size: 14px;font-weight: bold;line-height: 45px;}
#button_3{height: 110px;margin: 0 auto;margin-bottom: 1px;background-color: #FFFFFF;}
#button_3 .beader_3{width: 1000px;height: 50px;margin: 0 auto;padding-top: 25px;}
#button_3 .beader_3 .beader_3_top{width: 480px;height: 30px;margin: 0 auto;}
#button_3 .beader_3 .beader_3_bottom{ width: 430px;height: 40px;color: #333333;margin: 0 auto;}
#button_3 .beader_3 .beader_3_top span{color: #EBDDEB;padding: 0 18px 0 18px;}
/*E=底部*/ 



/*js验证判断样式改变*/
#form table tr td span.wrong{
	color: #E00000;
}
#form table tr td span.success{
	color: #00993a;
}

