@charset "utf-8";

#nav1{width: 1000px;height: 440px;margin: 0 auto;}
#nav1 .nav1_l{width: 223px;height: 440px;padding: 10px 0 0 10px;background-color: #FFFFFF;}
#nav1 .nav1_l p{width: 215px;height: 35px;font-weight: bold;line-height: 35px;}
#nav1 .nav1_l .ul{height: 32px;width: 205px;border-bottom: 1px dashed #DDDDDD;}
#nav1 .nav1_l .ul_b{height: 35px;width: 215px;}
#nav1 .nav1_l  a{color: #5D5D5D;}
#nav1 .nav1_l span.vl{padding: 10px 2px 10px 2px;}
#nav1 .nav1_3{width: 237px;height: 450px;}
#nav1 .nav1_3 .denlu{width: 180px;height: 195px;padding: 27px 0 0 55px;background-color: #FFFFFF;border-bottom: 1px dashed #DDDDDD;}
#nav1 .nav1_3 .denlu p{width: 80px;height: 30px;margin-left: 35px;}
#nav1 .nav1_3 .denlu input.dl{width: 60px;height: 26px;color: white;font-weight: bold;text-align: center;line-height: 26px;background-color: #E00000;}
#nav1 .nav1_3 .denlu input.zc{width: 60px;height: 26px;color: white;font-weight: bold;text-align: center;line-height: 26px;margin-left: 6px;background-color: #00A737;}
#nav1 .nav1_3 .tonggao{width: 213px;height: 227px;padding-left: 22px;background-color: #FFFFFF;} 
#nav1 .nav1_3 .tonggao p.dz{width: 50px;height: 28px;line-height: 28px;border-bottom: 1px solid red;}
#nav1 .nav1_3 .tonggao ul{margin-top: 14px;	}
#nav1 .nav1_3 .tonggao ul li{width: 180px;height: 25px;}
#nav1 .nav1_3 .tonggao ul li s{width: 12px;height: 12px;display: inline-block;background: url("../img/haigouyoupin.fw.png")0 -20px;}
/*#nav1.nav1_3 .tonggao ul li a{color: #494949;}*/
#nav1 .nav1_3 .tonggao ul li span{color: #9A9A9A;}




#nav2{width: 1000px;height: 255px;margin: 0 auto;}
#nav2 .sp{width: 235px;height: 235px;margin: 20px 20px 0 0;background-color: #FFFFFF;}
#nav2 .sp a p{width: 210px;height: 20px;margin:13px 0 8px 10px;}
#nav2 .sp p.sz{width: 210px;height: 25px;color: #E00000;margin-left: 10px; }
#nav2 .sp p span{font-weight: 600;font-size: 22px;}
#nav2 .sp p i{width: 55px;height: 25px;line-height: 25px;margin-left: 12px;padding: 3px 7px 3px 7px;border: 1px dotted  #E00000;}
#nav2 .sp p s.yj{color: #999999;line-height: 30px;}
#nav2 .sp_r{width: 235px;height: 235px;margin-top: 20px;background-color: #FFFFFF;}
#nav2 .sp_r a p{width: 210px;height: 20px;margin:13px 0 8px 10px;}
#nav2 .sp_r p.sz{width: 210px;height: 25px;color: #E00000;margin-left: 10px; }
#nav2 .sp_r p span{font-weight: 600;font-size: 22px;}
#nav2 .sp_r p i{width: 55px;height: 25px;line-height: 25px;margin-left: 12px;padding: 3px 7px 3px 7px;border: 1px dotted  #E00000;}
#nav2 .sp_r p s.yj{color: #999999;line-height: 30px;}



#titlt{width: 1000px;height: 35px;line-height: 80px;margin: 0 auto;padding-top: 15px;}
#titlt span.h2{height: 40px;font-size: 28px;font-weight: 600;}
#titlt span.titlt_fr{padding: 0 18px 0 18px;}
#titlt p{height: 20px;}
#titlt2{width: 1000px;height: 45px;line-height: 50px;margin: 0 auto;padding-top: 15px;}
#titlt2 span.h2{height: 40px;font-size: 28px;font-weight: 600;}
#titlt2 p{height: 5px;}



#nav3{width: 1000px;height: 489px;margin: 0 auto;margin-top: 25px;background-color: #FFFFFF;}
#nav3 .nav3_l{width: 234px;height: 490px;}
#nav3 .nav3_l img{width: 234px;height: 490px;}
#nav3 .nav3_c{width: 262px;height: 243px;border-right: 1px dotted #E1E1E1;border-bottom: 1px dotted #E1E1E1;}
#nav3 .nav3_c p.nav3_c_name{width: 150px;height: 28px;font-size: 16px;margin: 0 auto;margin-top: 40px;}
#nav3 .nav3_c p.nav3_c_color{width: 115px;height: 26px;margin: 0 auto;color: #808080;}
#nav3 .nav3_r{width: 223px;height: 467px;padding: 23px 0 0 16px;} 
#nav3 .nav3_r p.titlt{width: 200px;height: 50px;line-height: 50px;font-size: 20px;font-weight: bold;}
#nav3 .nav3_r ul li{width: 204px;height: 95px;border-bottom: 1px dashed #E1E1E1;}
#nav3 .nav3_r ul li img{float: left;margin: 12px 30px 0 0;}
#nav3 .nav3_r ul li p{float: left;color: #666666;margin-top: 14px;height: 5px;}
#nav3 .nav3_r ul li p.number{float: left;height: 10px;line-height: 30px;}
#nav3 .nav3_r ul li p.number span.red{margin-right:4px;color: #E91436;font-size: 14px;font-weight: bolder;}


div.no{height: 70px;}
.background{background-color: #FFFFFF;margin-bottom: 4px;}

